# Ignore everything
/*

# Un-ignore ONLY the core package folder and packaging metadata
!uzmorph/
!pyproject.toml
!LICENSE
!.gitignore

# Ignore Python artifacts inside folders
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
