# Ignore everything
/*

# Un-ignore essentials
!uzmorph/
!README.md
!LICENSE
!pyproject.toml
!.gitignore
!app.py
!test_accuracy.py

# Ignore Python artifacts inside folders
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
