# Default .gitignore for Python projects
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
uzmorph.egg-info/

# Environments
.venv/
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo
